@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aleo&display=swap");

.App {
  /* border: 1px solid black; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  /* font-size: 50px; */
  overflow: hidden;
  background-color: #c5ded6;
}

/* .container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
} */

h2 {
  font-size: 58px;
  font-family: "Caveat";
  color: #4ab19a;
}

h3 {
  font-size: 38px;
  font-family: "Aleo";
  color: black;
}

p {
  font-family: "Aleo";
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 100%;
  height: 100vh;
  margin-top: 64px;
  /* background-image: url("imageMe.JPG"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: inherit;
}

.fontP {
  font-size: 98px;
  font-family: "Caveat";
}

.fontP2 {
  font-size: 28px;
  font-family: "Aleo";
}

.aboutMe {
  /* height: 100vh; */
  border: 1px solid black;
  background-color: #fff;
}

.aboutMeContainer {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.myImage {
  border-radius: 50%;
  /* width: 50%; */
  /* height: 50%; */
  height: 200px;
  width: 200px;
}

.projects {
  /* height: 100vh; */
  border: 1px solid green;
}

.projectsContainer {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.video {
  border: none;
  /* box-shadow: "-2px 1px 3px rgb(40, 5, 145)"; */
  /* border: "whitesmoke 1px solid"; */
  border-radius: 3px;
  width: 600px;
  height: 350px;
}

button {
  background: none;
  border: 1px solid black;
  font-size: 20px;
  color: black;
  border-radius: 5px;
  align-self: center;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  margin-bottom: 10px;
}

button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.25s;
}

a {
  text-decoration: none;
  color: black;
}
